.header {
    text-align: center;
    color:black;
    background-color: chocolate;
}



.footer img {
    height:300px;
    width:300px;
}

.footer h3 {
    text-align:center;
}

.figures {
    display:inline-block;
}